# TODO: These libraries are required by Connect but when should they be installed and who
# should be responsible for installing them? Should our runtime dependencies come with
# and requirements.txt file?
# https://github.com/rstudio/connect/blob/28b8a9980ff6635cc807bf8c0d2023a0cb2c5dfb/python/build_environment.py#L280-L288
# Connect Dependencies (may not be required by the content itself)#
setuptools
bjoern==3.1.0
waitress==1.4.3
jupyter
nbclient
nbconvert
nbformat
ipykernel
aiofiles
starlette
uvicorn
websockets
fastapi

# Content Dependencies #
flask
flask-restx
MarkupSafe==2.0.1 # https://github.com/pallets/jinja/issues/1587
werkzeug <= 0.16.1
numpy
